html{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

*, *::before,
*::after{
    font-family: 'Circe';
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 140%;
    color: #333333;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

.container{
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

/* HEADER */

.header{
    color: #333333;
}

.header__top{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header__bottom{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 51, 51, .3);
}

.header__logo-img{
    display: block;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__list-item{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.header__list-item + .header__list-item{
    margin-left: 20px;
}

.header__top-name{
    max-width: 217px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #EC1B2E;
}

.header__contacts{
    display: flex;
    align-items: center;
}

.header__contacts-text + .header__contacts-text{
    margin-left: 45px;
}

.header__contacts-text{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.header__contacts-img{
    display: block;
    margin-right: 20px;
}

.header__top-link{
    padding: 10px 20px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

/* FIRST SCREEN */

.firstScreen{
    height: 700px;
}

.swiper-slide{
    height: 700px;
}

.slide-1{
    background: url(../images/bgc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-1__textBox{
    padding: 15px 30px;
    width: 526px;
    background: rgba(51, 51, 51, 0.5);
    margin-top: 126px;
}

.slide-1-title{
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
}

.slide-1-link{
    padding: 15px 30px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    display: block;
    max-width: 110px;
    text-align: center;
    margin-top: 50px;
}

.swiper-btn-prev,
.swiper-btn-next{
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    top: 315px;
    z-index: 100;
}

.swiper-btn-prev{
    background: url(../images/prev.png);
    left: 150px;
}

.swiper-btn-next{
    background: url(../images/next.png);
    right: 150px;
}

/* ABOUT US */

.aboutUs{
    padding-top: 150px;
}

.aboutUs>.container{
    max-width: 1190px;
}

.aboutUs__inner{
    display: flex;
    justify-content: space-between;
}

.aboutUs-img{
    opacity: 0.15;
    display: block;
}

.aboutUs__textBox{
    border: 10px solid #EC1B2E;
    padding: 0 90px 76px;
}

.aboutUs__textBox-title{
    padding: 10px 30px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0.01em;
    margin-top: -50px;
    background: #fff;
    max-width: 414px;
}

.aboutUs__textBox-text{
    max-width: 458px;
    font-size: 18px;
    font-weight: 400;
}

/* TABS */

.tabs{
    padding-top: 150px;
}

.tabs__btnBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tabs-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 80px;
}

.tabs__btnBox-btn{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.--active-btn{
    color: #EC1B2E;
}

.tabs__contentBox{
    max-width: 1076px;
    margin: 0 auto;
}

.tabs__content-table{
    background: rgba(51, 51, 51, 0.05);
    padding: 10px 20px;
    display: flex;
}

.tabs__content-table-name + .tabs__content-table-name + .tabs__content-table-name{
    margin-left: 161px;
}

.tabs__content-table-name + .tabs__content-table-name{
    margin-left: 116px;
}

.tabs__content-table-name{
    font-weight: 700;
    font-size: 20px;
}

.tabs__content-card{
    display: flex;
    flex-wrap: wrap;
}

.tabs__price{
    padding: 40px 20px 30px;
    width: 596px;
}

.tabs__price-text + .tabs__price-text{
    margin-top: 18px;
}

.tabs__price-text{
    font-weight: 400;
    font-size: 18px;
}

.tabs__price-price{
    padding: 5px 7px 1px;
    background: #EC1B2E;
    color: #fff;
    margin-right: 8px;
    display: inline-block;
    max-width: 91px;
}

.tabs__intensity{
    width: 300px;
    padding: 40px 20px 30px;
}

.tabs__intensity-text + .tabs__intensity-text{
    margin-top: 18px;
}

.tabs__intensity-text{
    font-weight: 400;
    font-size: 18px;
}

.tabs__old{
    width: 180px;
    padding: 40px 20px 30px;
}

.tabs__old-text{
    font-weight: 400;
    font-size: 18px;
}

.tabs__content-card + .tabs__content-card{
    border-top: 1px solid rgba(51, 51, 51, .2);
}
.tabs__content{
    display: none;
}

.--active-content{
    display: block;
}

/* EXAMS */

.exams{
    padding-top: 150px;
}

.exams__content,
.news__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.exams-card,
.news-card{
    width: 306px;
    margin: 0 auto;
}

.exams-card__textBox{
    padding: 30px 20px 0;
}

.exams-card-title{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.exams-card__list-item{
    list-style: disc;
    margin-top: 15px;
    max-width: 242px;
    margin-left: auto;
}

.exams-card__list{
    margin-bottom: 45px;
}

.exams-card-link{
    padding: 15px 30px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    max-width: 163px;
    text-align: center;
}

.exams-title{
    text-align: center;
    display: block;
    margin-bottom: 100px;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0.01em;
}

/* EVENTS */

.events,
.news{
    padding-top: 150px;
}

.events-title,
.news-title{
    display: block;
    text-align: center;
    margin-bottom: 100px;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0.01em;
}

.events__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.events-card{
    width: 416px;
    margin: 0 auto;
}

.events-card-img{
    display: block;
}

.events-card__textBox{
    padding: 30px 30px 0;
}   

.events-card-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

.events-card-text{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.events-card-link{
    padding: 15px 30px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

/* NEWS */

.news-card-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.news-card-text{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}

.news-card-link{
    padding: 15px 30px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

/* FOOTER */

.footer{
    background: rgba(51, 51, 51, .05);
    margin-top: 120px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.footer__contacts{
    max-width: 221px;
}

.footer__box-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer__box-title-2{
    margin-top: 40px;
}

.footer__box-text{
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

.footer__box{
    width: 200px;
}

.footer__contacts-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer__contacts-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer__contacts-img{
    display: block;
    margin-right: 20px;
}

.footer__social{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.footer__bottom{
    border-top: 1px solid rgba(51, 51, 51, .3);
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.footer__bottom-text{
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, .5);
}

/* CONTACTS */

.contacts-page,
.content-page{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin: 40px 0;
}

.contacts-page>span,
.content-page>span{
    color: #EC1B2E;
    margin: 0 10px;
}

.contacts-map{
    margin-bottom: 60px;
    width: 100%;
}

.contacts__contactbox{
    display: flex;
    justify-content: space-between;
}

.contacts__box,
.contacts__box + .contacts__box + .contacts__box + .contacts__box{
    width: 306px;
}

.contacts__box + .contacts__box{
    width: 314px;
}

.contacts__box + .contacts__box + .contacts__box{
    width: 196px;
}

.contacts__box-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.contacts__box-text,
.contacts__box-mail-text{
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}

.contacts__box-mail-text{
    margin-top: 25px;
}

.contacts__box-mail{
    color: #EC1B2E;
    font-weight: 700;
    font-size: 16px; 
    text-transform: uppercase;   
    margin-top: 10px;
}

.contacts__box-location{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.contacts__box-img{
    margin-right: 10px;
    display: block;
}

.contacts__box-list-item{
    list-style: square;
    margin-left: 27px;
}

.contacts__box-list-item + .contacts__box-list-item{
    margin-top: 15px;
}

.contacts__box-list-item::marker{
    color: #EC1B2E;
}

/* CONTENT */

.content-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.content-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    max-width: 1076px;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

.content-text{
    font-weight: 400;
    font-size: 16px;
    max-width: 636px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.content-list-title{
    max-width: 636px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
}

.content__list{
    max-width: 636px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

.content__list-item{
    list-style: square;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
}

.content__list-item>span{
    font-weight: 700;
}

.content__list-item + .content__list-item{
    margin-top: 15px;
}

.content__list-item::marker{
    color: #EC1B2E;
}

.content__btnBox{
    display: flex;
    justify-content: space-between;
    max-width: 636px;
    margin: 0 auto;
    margin-top: 60px;
}

.content__btnBox-link{
    padding: 10px 20px;
    background: #EC1B2E;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

/* SERVICE */

.service>.container{
    max-width: 1100px;
}

.service-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.service-title{
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0.01em;
}

.service-desc{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.service-text{
    max-width: 636px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
}

.service-textBox{
    width: 636px;
    padding: 25px 45px;
    border: 5px solid #EC1B2E;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.service-box{
    display: flex;
    justify-content: space-between;
}

.service-box-img{
    opacity: 0.08;
    display: block;
    height: 400px;
    width: 400px;
    margin-top: 40px;
}

/* BURGER */

.burger-btn{
    display: none;
}

.burger-span{
    width: 34px;
    height: 3px;
    display: block;
    background: #EC1B2E;
    border-radius: 2px;
}

.burger-span + .burger-span{
    margin-top: 7px;
}

.burger__menu{
    width: 320px;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    background: #fff;
    transform: translateX(100%);
    transition: all .2s;
}

.burger__menu.--show{
    transform: translateX(0);
}

.burger__menu-btn{
    display: block;
    margin: 30px auto;
}

.burger__menu-img{
    display: block;
}

.burger-link{
    text-align: center;
    display: block;
    margin-top: 20px;
}

/* MEDIA */

@media (max-width: 1780px){
    .swiper-btn-next{
        right: 75px;
    }
    .swiper-btn-prev{
        left: 75px;
    }
}

@media (max-width: 1630px){
    .swiper-btn-next{
        right: 25px;
    }
    .swiper-btn-prev{
        left: 25px;
    }
}

@media (max-width: 1530px){
    .swiper-btn-next{
        top: 570px;
        right: 30px;
    }
    .swiper-btn-prev{
        top: 570px;
        left: 30px;
    }
}

@media (max-width: 1340px){
    .swiper-btn-next{
        top: 570px;
        left: 110px;
    }
    .swiper-btn-prev{
        top: 570px;
        left: 10px;
    }
}

@media (max-width: 1300px){
    .events__content{
        grid-template-columns: repeat(2, 1fr);
    }
    .events-card + .events-card + .events-card{
        margin-top: 50px;
    }
}

@media (max-width: 1290px){
    .exams__content,
    .news__content{
        grid-template-columns: repeat(2,1fr);
    }

    .exams-card + .exams-card + .exams-card,
    .news-card + .news-card + .news-card{
        margin-top: 30px;
    }
}

@media (max-width: 1190px){
    .header__list{
        display: none;
    }
    .burger-btn{
        display: block;
    }
}

@media (max-width: 1112px){
    .tabs__content-table{
        display: none;
    }
    .tabs__content-card{
        margin: 0 auto;
        max-width: 596px;
    }
}

@media (max-width: 1110px){
    .service-img,
    .content-img{
        width: 800px;
        margin-left: 0;
    }
    .content-img{
        margin: 0 auto 80px;
    }
    .content-title{
        font-size: 32px;
    }
}

@media (max-width: 1100px){
    .aboutUs-img{
        display: none;
    }
    .aboutUs__textBox{
        margin: 0 auto;
    }
    .footer__top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1080px){
    .service-img{
        margin-left: auto;
    }
    .service-title{
        text-align: center;
    }
    .service-box-img{
        display: none;
    }
    .service__textBox{
        margin: 0 auto;
    }
}

@media (max-width: 1040px){
    .contacts__contactbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts__box{
        margin: 0 auto;
    }
    .contacts__box + .contacts__box + .contacts__box{
        margin-top: 30px;
    }
}

@media (max-width: 1020px){
    .header__top{
        display: none;
    }
    .header__logo-img{
        width: 40px;
    }
    .tabs__btnBox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .tabs__btnBox-btn{
        margin: 0 auto;
    }
    .tabs__btnBox-btn + .tabs__btnBox-btn + .tabs__btnBox-btn{
        margin-top: 20px;
    }
}

@media (max-width: 950px){
    .footer__top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__box + .footer__box + .footer__box{
        margin-top: 30px;
    }
}

@media (max-width: 890px){
    .events__content{
        grid-template-columns: repeat(1, 1fr);
    }
    .events-card + .events-card{
        margin-top: 50px;
    }
}

@media (max-width: 840px){
    .service-img,
    .content-img{
        display: none;
    }
    .service-text{
        max-width: 400px;
        margin: 0 auto 40px;
    }
    .service-textBox{
        max-width: 400px;
    }
}

@media (max-width: 700px){
    .footer__top{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__box + .footer__box{
        margin-top: 30px;
    }
}

@media (max-width: 680px){
    .exams__content,
    .news__content{
        grid-template-columns: repeat(1,1fr);
    }

    .exams-card + .exams-card,
    .news-card + .news-card{
        margin-top: 40px;
    }
    .exams-title,
    .news-title{
        margin-bottom: 40px;
    }
}

@media (max-width: 660px){
    .contacts__contactbox{
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts__box + .contacts__box{
        margin-top: 30px;
    }
}

@media (max-width: 650px){
    .aboutUs__textBox{
        padding: 0 50px 40px;
    }
}

@media (max-width: 640px){
    .tabs__btnBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .tabs__btnBox-btn{
        margin: 0 auto;
        font-size: 18px;
    }
    .tabs__btnBox-btn + .tabs__btnBox-btn + .tabs__btnBox-btn{
        margin-top: 15px;
    }
    .tabs__btnBox-btn + .tabs__btnBox-btn{
        margin-top: 15px;
    }
}

@media (max-width: 630px){
    .slide-1-title{
        font-size: 32px;
    }
    .slide-1__textBox{
        max-width: 355px;
    }
    .swiper-slide{
        height: 600px;
    }
    .swiper-btn-next,
    .swiper-btn-prev{
        top: 500px;
    }

}

@media (max-width: 610px){
    .content__btnBox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .content__btnBox-link{
        max-width: 86px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 570px){
    .aboutUs__textBox-title{
        margin-top: 15px;
        padding: 0;
    }
}

@media (max-width: 510px){
    .aboutUs__textBox-title{
        font-size: 32px;
        margin-bottom: 20px;
    }
}

@media (max-width: 490px){
    .footer__top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__contacts{
        margin: 0 auto;
    }
    .footer__box{
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 460px){
    .tabs-title{
        font-size: 32px;
        max-width: 278px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px){
    .slide-1-title{
        font-size: 21px;
    }
    .slide-1__textBox{
        max-width: 235px;
    }
    .swiper-slide{
        height: 500px;
    }
    .swiper-btn-next,
    .swiper-btn-prev{
        top: 420px;
    }
    .aboutUs{
        padding-top: 0;
    }
    .events-card{
        max-width: 320px;
    }
    .events-card-img{
        width: 320px;
        margin: 0 auto;
    }
    .events-card__textBox{
        width: 320px;
        padding: 30px 15px 0;
        margin: 0 auto;
    }
    .service-text{
        max-width: 300px;
    }
    .service-textBox{
        max-width: 290px;
    }
}

@media (max-width: 400px){
    .aboutUs__textBox-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .aboutUs__textBox-text{
        font-size: 14px;
    }
}

@media (max-width: 360px){
    .events-card{
        max-width: 310px;
    }
    .events-card-img{
        width: 310px;
        margin: 0 auto;
    }
    .events-card__textBox{
        width: 310px;
        padding: 30px 10px 0;
        margin: 0 auto;
    }
}
